*{
    font-family:'arial', sans-serif;
}

body{
    padding:0;
    margin:0;
}

.mainBody {
    flex: 1;
    display: flex;
    margin-top: 12%;
    flex-direction:column;
}

.mainBody img {
    object-fit: contain;
    height:100px;
}

.search_input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}

.search_input input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.search_input .material-icons {
    color: gray;
}

.divboutton{
    text-align: center;
}
.divboutton button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #f8f8f8;
    outline: none;
    border: none;
}
.divboutton button:hover {
    margin: 6px;
    cursor:pointer;
    border: 1px solid #000;
    }
  
.right{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    height:60px;
}

.right ul{
    display:flex;
    flex-direction:row;
}

.right li{
    list-style:none;
    margin-left:10px;
    margin-right:10px;
    line-height:25px;
}
.right li a:hover{
    text-decoration:underline;
}

.right li a{
    color:#000;
    font-size:14px;
    text-decoration:none;
}

.right .loginBtn{
    background:#2b7de9;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    font-size:15px;
    color:#FFF;
    border-radius:3px;
    cursor:pointer;
}

.appsBtn{
    cursor:pointer;
}
body{
    margin: 0;
    padding: 0;
}
header{
    display:flex;
    justify-content:right;
    flex-wrap: wrap;
    margin: 10px 20px;

}
header .right{
    display:flex;
    direction: row;
}

.footerdown{
    background:#f2f2f2;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:80px;
    line-height:80px;
    display:flex;
    flex-direction:row;
    padding-left:100px;
    padding-right:100px;
}

.footer-down-right{
    margin-left:auto;
}

.footerdown a{
    text-decoration:none;
    color:#777c81;
    margin-left:5px;
    margin-right:5px;
    font-size:13px;
}

.footerdown a:hover{
    text-decoration:underline;
}